<mat-card class="product-card">
    <mat-card-header>
      <mat-card-title>Details du Produit</mat-card-title>
    </mat-card-header>
    <mat-card-content class="product-info">
      <ul>
        <li><strong>ID:</strong> test</li>
        <li><strong>Nom:</strong> test</li>
        <li><strong>Quantité:</strong> test</li>
        <li><strong>Chiffre d'affaire:</strong> test</li>
        <li><strong>Marge coûts variables:</strong> test</li>
        <li><strong>Marge coûts directs:</strong> test</li>
        <li><strong>Part chiffre d'affaire:</strong> test</li>
        <li><strong>Repartition prorata:</strong> test</li>
        <li><strong>Marge coûts complets:</strong> test</li>
        <li><strong>Seuil de rentabilité:</strong> test</li>
        <li><strong>Nombre de ventes nécessaires:</strong> test</li>
        <li><strong>Point mort:</strong> test</li>
        <!-- Ajoutez d'autres propriétés ici -->
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Modifier</button>
    </mat-card-actions>
  </mat-card>
  